---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <section class="homepage">
    <hr class="divider" />
    <img src="/portrait.png" alt="Olena Gannochchenko" class="portrait" />
  </section>
</BaseLayout>
