---
// src/components/Appointment.astro
---

<section class="appointment">
  <h2>Book Your Consultation</h2>
  <iframe
    src="https://calendly.com/olenagann/30min"
    width="100%"
    height="600"
    frameborder="0"
  ></iframe>
</section>
