---
// src/components/LanguageSwitcher.astro
---

<div class="language-switcher">
  <button onclick="window.location.href='/en/'">EN</button>
  <button onclick="window.location.href='/es/'">ES</button>
  <button onclick="window.location.href='/uk/'">UK</button>
  <button onclick="window.location.href='/ru/'">RU</button>
</div>
